@page "/NuevaTienda"
@using BlazorEFUdemy.Modelo
@using BlazorEFUdemy.Servicios
@inject IServicioTienda servicioTienda
@inject NavigationManager navigationManager

<h3>Nueva Tienda</h3>
<EditForm Model="tienda" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10 m-2">
            <InputText id="nombre" class="form-control" placeholder="Nombre de la tienda"
                       @bind-Value="tienda.Nombre" />
            <ValidationMessage For="@(() => tienda.Nombre)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
        <div class="col-sm-10 m-2">
            <InputText id="direccion" class="form-control" placeholder="Dirección de la tienda"
                       @bind-Value="tienda.Direccion" />
            <ValidationMessage For="@(() => tienda.Direccion)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="sitioWeb" class="col-sm-2 col-form-label">Sitio Web</label>
        <div class="col-sm-10 m-2">
            <InputText id="sitioWeb" class="form-control" placeholder="Sitio Web" @bind-Value="tienda.SitioWeb" />
            <ValidationMessage For="@(() => tienda.SitioWeb)" />
        </div>
    </div>
    <div class="row content">
        <div class="col-md-1">
            <input type="submit" class="btn btn-primary" value="Guardar" />
        </div>
        <div class="col-md-2">
            <input type="button" class="btn btn-danger" value="Cancelar" @onclick="Cancelar" />
        </div>
    </div>
    <div class="row content">
        @resultado
    </div>

</EditForm>



@code {
    public Tienda tienda = new Tienda();
    public string resultado = string.Empty;

    // Método para validar el formulario utilizando DataAnnotations
    public void HandleValidSubmit()
    {
        // EditContext es una clase que se encarga de validar los datos de un modelo

        var editContent = new EditContext(tienda);
        // editContent.Validate() devuelve un booleano que indica si el modelo es válido
        var isValid = editContent.Validate();
        if (!isValid)
        {
            StateHasChanged();
        }
        else
        {
            Guardar();
        }

    }

    protected async Task Guardar()
    {
        try
        {
            if (tienda.Nombre != String.Empty &&
               tienda.Direccion != String.Empty &&
               tienda.SitioWeb != String.Empty)
            {
                tienda.FechaApertura = DateTime.Now;
                await servicioTienda.AltaTienda(tienda);
                resultado = "Tienda creada correctamente";
            }
            navigationManager.NavigateTo("/GestionarTienda");

        }
        catch (Exception ex)
        {
            resultado = "Se produjo un error " + ex.Message;
            StateHasChanged();
        }

    }

    public void Cancelar()
    {
        navigationManager.NavigateTo("/GestionarTienda");
    }
}
